@media @mobile-and-tablet {
  .panorama {

    &__container {
      .container();
    }

    &__heading {
      font-size: 14px;
      line-height: 30px;
      font-weight: 300;
      color: @darkblue;
      padding-top: 52px;
      margin: 0 auto;
      text-align: center;
    }

    &__heading--padding {
      padding-top: 0;
    }

    &__photo {
      position: relative;
      width: 100%;
      margin-top: 58px;
      line-height: 0;
    }

    &__today {
      position: absolute;
      top: 0;
      right: 20px;
      padding: 6px 20px;
      font-size: 12px;
      line-height: 24px;
      color: @white;
      text-transform: uppercase;
      background-color: @pink;
    }

    &__container--grey {
      display: flex;
      flex-direction: column;
      background: @grey;
    }

    &__name {
      display: flex;
      padding-left: 15px;
      padding-top: 20px;
      order: 1;
      font-size: 14px;
      line-height: 24px;
      color: @darkblue;
      font-weight: 700;
    }

    &__time {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300;
      padding-left: 3px;
    }

    &__like {
      position: relative;
      padding-top: 8px;
      padding-bottom: 20px;
      padding-left: 49px;
      order: 3;
      font-size: 12px;
      line-height: 24px;
      color: @pink;
      text-transform: uppercase;
    }

    &__like:before {
      content: "";
      position: absolute;
      width: 13px;
      height: 12px;
      top: 13px;
      left: 15px;
      background-image: url(../img/icon-heart.svg);
    }

    &__text {
      order: 2;
      padding-left: 15px;
      text-align: left;
      font-size: 14px;
      line-height: 24px;
    }

    &__item {
      margin-top: 20px;
      background-color: @grey;
    }

    &__item-photo {
      width: 100%;
    }
  }
}